body{
    height: 400px;
    width: 300px;
    border:2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 37%;
    margin-top:5%;
    font-size:20px;
}


.nav-bar{
    display:flex;
    justify-content:space-between;
}